<%= form_for(@listing, :html => { :multipart => true }) do |f| %>
  <% if @listing.errors.any? %>
    <div id="error_explanation" class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4><%= pluralize(@listing.errors.count, "error") %> prohibited this listing from being saved:</h4>

      <ul>
      <% @listing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="stripe_error" class="alert alert-danger" style="display:none">
      <noscript>JavaScript is not enabled and is required for this form. Please enable it in your web browser settings.</noscript>
  </div>
  <div class="form-group">
    <%= f.label :product_title %><i> (required, max 55 characters)</i>
    <%= f.text_field :name, class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :designer_or_brand, "Designer / Brand" %><i> (optional, max 35 characters)</i>
    <%= f.text_field :designer_or_brand, class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description %><i> (required)</i>
    <%= f.text_area :description, class:"form-control", :rows => 5 %>
  </div>
  <div class="row">
    <div class = "col-md-2">
        <div class="form-group">
          <%= f.label :Product_ID %><i> (required)</i>
          <%= f.text_field :sku, class:"form-control" %>
        </div>
    </div>
      <div class = "col-md-2">
        <div class="form-group">
          <%= f.label :price %><i> (required)</i>
          <%= f.text_field :price, class:"form-control" %>
        </div>
      </div>
      <div class = "col-md-2">
        <div class="form-group">
          <%= f.label :saleprice, "Sale Price" %><i> (optional)</i>
          <%= f.text_field :saleprice, class:"form-control" %>
        </div>
      </div>
      <div class = "col-md-3">
        <div class="form-group">
          <%= f.label :category %><i> (required)</i>
          <%= f.select(:category, options_for_select(categories), {prompt: "Select"}, {class: "form-control"}) %>
        </div>  
      </div>
    <div class = "col-md-3">
        <div class="form-group">
          <%= f.label :quantity_in_stock %><i> (required)</i>
          <%= f.text_field :inventory, class:"form-control" %>
        </div>
    </div>

  </div>
  <div class="form-group">
    <%= f.label :image %><i> (required)</i>
    <%= f.file_field :image, class:"form-control" %>
  </div>
       <% if !@listing.image.url.blank? %>
          Current image: <%= image_tag(@listing.image.url(:thumb)) %>
      <% end %>
  <div class="form-group">
    <%= f.label :image_2 %><i> (optional)</i>
    <%= f.file_field :image2, class:"form-control" %>
  </div>
      <% if !@listing.image2.url.blank? %>
          Current image #2: <%= image_tag(@listing.image2.url(:thumb)) %>
      <% end %>
  <div class="form-group">
    <%= f.label :image_3 %><i> (optional)</i>
    <%= f.file_field :image3, class:"form-control" %>
  </div>
        <% if !@listing.image3.url.blank? %>
          Current image #3: <%= image_tag(@listing.image3.url(:thumb)) %>
      <% end %>
  <div class="form-group">
    <%= f.label :image_4 %><i> (optional)</i>
    <%= f.file_field :image4, class:"form-control" %>
  </div>
        <% if !@listing.image4.url.blank? %>
          Current image #4: <%= image_tag(@listing.image4.url(:thumb)) %>
      <% end %>
   

    <br>

      <div class="form-group">
        <%= f.submit class:"btn btn-primary" %>
      </div>
 
<% end %>