<div class="well">
    <font color="green"><span class="glyphicon glyphicon-star"></span> <b>Listing Tip: </b></font>If you opt to use the import option, first start by uploading 1-2 products to test it out. Once you're happy with how your listings look, upload your full product file. <br><br>
    <p><font color="Red"><span class="glyphicon glyphicon-ok"></span> <b>Important:</b></font> Before listing items, please fill out your <b><%= link_to "bank account information", edit_user_url(current_user) %></b> so we can transfer your payments. Optional: fill out your <%= link_to "seller profile", sellerp_path(id: current_user.id) %>
      , which will show up in your product pages. </p>
</div>

<h3>Option 1: Import a CSV File</h3>

  <%= form_tag import_listings_path, multipart: true do %>
    <div class="row">
      <div class = "col-md-4">
        <div class="form-group"> <%= file_field_tag :my_file, :accept => "text/csv", class:"form-control" %> </div>
        <%= hidden_field_tag :user_id, current_user.id %>
      </div>
      <div class = "col-md-3">
          <div class="form-group"> <%= submit_tag "Import CSV", class:"btn btn-primary" %> </div>
      </div>
    </div>
  <% end %>
  
<h3>Option 2: List New Items Manually</h3>

<%= render 'form' %>

<%= link_to 'Back', listings_path, class:"btn btn-link" %>
