<script>
  function refreshText() {
      $.ajax({
          url: '<%= check_listing_status_url %>',
          success: function (status) {
              if (status != -1) {
                  if (status == 0 || status == 1) {
                      setTimeout(refreshText, 5000);
                      show_info("Your listings are being imported. Depending on the number of listings in your file, this may take a few minutes to an hour. Please come back this page to check if your import completed.");
                  } else if (status == 2) {
                      location.reload();
                  } else if (status == 3) {
                      show_error("Oops! We ran into an error. <br><br>Please refresh this page to check if some of your listings have loaded. If none of your listings loaded, check if your column names are as specified and check if you have all the required columns in the file. If some of your listings have loaded, then it means that the next listing in the file did not load because of an error in that row. <br><br>Please check the format of your listings at this link...and reload your file. After you make changes, you can upload your entire file again. Listings will not be duplicated.<br><br>If you need help, please send us your file to <b>service@outfitadditions.com</b>.");
                  }

              }
          }
      });
  }
  refreshText();

  function show_info(msg) {
      $("#ajax_message").addClass('alert').addClass('alert-warning');
      $("#ajax_message").text(msg);
  }

  function show_error(msg) {
      $("#ajax_message").addClass('alert').addClass('alert-danger').addClass("alert-dismissible");
      var message = $("#ajax_message");
      var closeBut = $('<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>');
      message.html(msg);
      message.append(closeBut);
  }
</script>

  <h3>Manage your Listings</h3>

<div id="ajax_message"></div>

<% if user_signed_in? %>
  <p>
    <%= link_to "Download Listings (CSV)", seller_path(format: "csv"), class: "btn btn-xs btn-primary" %> <%= link_to 'Add New Listings', new_listing_path, data: { no_turbolink: true }, class: "btn btn-xs btn-primary" %> <%= link_to 'Delete All Listings', delete_all_listings_path, method: :get, data: { confirm: "Are you sure you want to delete all your listings?" }, class: "btn btn-xs btn-danger" %>
  </p>
  
  <div class="center"><p><%= will_paginate @listings, renderer: BootstrapPagination::Rails %></p></div>
  
<% end %>
<table class="table table-condensed">
  <tr>
    <th class="col-md-2">Image</th>
    <th class="col-md-2">Name</th>
    <th class="col-md-2">Price</th>
    <th class="col-md-2">Current Inventory</th>
    <th class="col-md-2">Date Listed</th>
    <th class="col-md-2"></th>
  </tr>

  <% @listings.each do |listing| %>
    <tr>
      <td><%= link_to image_tag(listing.image.url(:thumb)), listing, data: { no_turbolink: true } %></td>
      <td><%= link_to listing.name.downcase.titleize, listing, data: { no_turbolink: true } %></td>
      <td>    <% if listing.saleprice.blank? %>
                <%= number_to_currency(listing.price) %>
              <% else %>
                <del><%= number_to_currency(listing.price) %></del>  
                <%= number_to_currency(listing.saleprice) %>
              <% end %>
     </td>
      <td><%= listing.inventory %></td>
      <td><%= listing.created_at.strftime("%B %-d, %Y") %></td>
      <td>
<!--         <div class="btn-group">
          <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
            Action <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu"> -->
            <%= link_to "View", listing %><br>
            <%= link_to "Edit", edit_listing_path(listing) %><br>
            <%= link_to 'Delete', listing, method: :delete, data: { confirm: "Are you sure you want to delete this listing?" } %>
<!--           </ul>
        </div> -->
      </td>
    </tr>
  <% end %>
</table>
<div class="center"><p><%= will_paginate @listings, renderer: BootstrapPagination::Rails %></p></div>

  <% if @listings.count == 0 %>
    <h5><font color="red">You do not have any active listings at this time.</font></h5>
  <% end %>