<script>
  function refreshText() {
      $.ajax({
          url: '<%= check_listing_status_url %>',
          success: function (status) {
              if (status != -1) {
                  if (status == 0 || status == 1) {
                      setTimeout(refreshText, 5000);
                      show_info("Your listings are being imported. please wait until it finished or check again in few minutes");
                  } else if (status == 2) {
                      location.reload();
                  } else if (status == 3) {
                      show_error("There was an error");
                  }

              }
          }
      });
  }
  refreshText();

  function show_info(msg) {
      $("#ajax_message").addClass('alert').addClass('alert-info');
      $("#ajax_message").text(msg);
  }

  function show_error(msg) {
      $("#ajax_message").addClass('alert').addClass('alert-warning').addClass("alert-dismissible");
      content = $('<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>');
      $("#ajax_message").append(content);
      $("#ajax_message").text(msg);
  }
</script>
  <h3>Manage your Listings</h3>

<div id="ajax_message"></div>

<% if user_signed_in? %>
  <p>
    <%= link_to "Download Listings (CSV)", seller_path(format: "csv"), class: "btn btn-xs btn-primary" %> <%= link_to 'Add New Listings', new_listing_path, data: { no_turbolink: true }, class: "btn btn-xs btn-primary" %> <%= link_to 'Delete All Listings', delete_all_listings_path, method: :get, data: { confirm: "Are you sure you want to delete all your listings?" }, class: "btn btn-xs btn-danger" %>
  </p>
  
<% end %>
<table class="table table-condensed">
  <tr>
    <th class="col-md-2">Image</th>
    <th class="col-md-2">Name</th>
    <th class="col-md-2">Price</th>
    <th class="col-md-2">Current Inventory</th>
    <th class="col-md-2">Date Listed</th>
    <th class="col-md-2"></th>
  </tr>

  <% @listings.each do |listing| %>
    <tr>
      <td><%= link_to image_tag(listing.image.url(:thumb)), listing, data: { no_turbolink: true } %></td>
      <td><%= link_to listing.name.downcase.titleize, listing, data: { no_turbolink: true } %></td>
      <td><%= number_to_currency(listing.price) %></td>
      <td><%= listing.inventory %></td>
      <td><%= listing.created_at.strftime("%B %-d, %Y") %></td>
      <td>
<!--         <div class="btn-group">
          <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
            Action <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu"> -->
            <%= link_to "View", listing %><br>
            <%= link_to "Edit", edit_listing_path(listing) %><br>
            <%= link_to 'Delete', listing, method: :delete, data: { confirm: "Are you sure you want to delete this listing?" } %>
<!--           </ul>
        </div> -->
      </td>
    </tr>
  <% end %>
</table>
<div class="center"><p><%= will_paginate @listings, renderer: BootstrapPagination::Rails %></p></div>

  <% if @listings.count == 0 %>
    <h5><font color="red">You do not have any active listings at this time.</font></h5>
  <% end %>