<% provide(:title, @listing.name) %>
<div class="row">
  <div class="col-md-6"> 
  	<div class="thumbnail">
    
      	<%= link_to image_tag(@listing.image.url), @listing.image.url %>

     </div> 

      <div class="row">
        <div class="col-md-2 col-xs-4">
            <% if !@listing.image2.url.include? "missing.jpg" %>
              <%= link_to image_tag(@listing.image2.url, size: "90x90"), @listing.image2.url %>
            <% end %>
        </div>
       <div class="col-md-2 col-xs-4">
        <% if !@listing.image3.url.include? "missing.jpg" %>
          <%= link_to image_tag(@listing.image3.url, size: "90x90"), @listing.image3.url %>
        <% end %>
        </div>
       <div class="col-md-2 col-xs-4">
        <% if !@listing.image4.url.include? "missing.jpg" %>
          <%= link_to image_tag(@listing.image4.url, size: "90x90"), @listing.image4.url %>
        <% end %>
        </div>
      </div>

      

  </div>
  <div class="col-md-6"> 
  	<h3><%= @listing.name %></h3>
    <p><%= "Sold by #{@listing.name}. Ships in 1-2 business days." %></p>
    <p><%= number_to_currency(@listing.price) %></p>
  	<p><%= @listing.description %></p>
    <br>

         <% if @listing.inventory == 1 %>
             <br><p><b><font color="red">Only 1 piece left. </font></b></p>
         <% end %>

        <% if @listing.inventory > 0 %>
            <%= link_to "Buy this item", new_listing_order_path(@listing), class: "btn btn-primary", data: { no_turbolink: true } %>
        <% else %>
          <br><p><b><font color="red">Sorry, we're sold out of this item. </font></b></p>
        <% end %>

         

  </div>
</div>


<% if (user_signed_in?) && (current_user == @listing.user) %>
    <%= link_to 'Edit', edit_listing_path(@listing), class:"btn btn-link" %> |
<% end %>

<p><%= link_to 'Back', listings_path, class:"btn btn-link" %></p>
