<% provide(:title, @listing.name) %>
<div class="row">
  <div class="col-md-6"> 
  	<div class="thumbnail"> 

       
      	<%= link_to image_tag(@listing.image.url), @listing.image.url, rel: 'group1', :data => { :colorbox_static => true, :colorbox_height => '600px', :colorbox_width => '600px' } %>

        <% if !@listing.image2.url.include? "missing.jpg" %>
          <%= link_to image_tag(@listing.image2.url(:thumb)), @listing.image2.url, rel: 'group1', :data => { :colorbox_static => true, :colorbox_height => '600px', :colorbox_width => '600px' } %>
        <% end %>

        <% if !@listing.image3.url.include? "missing.jpg" %>
          <%= link_to image_tag(@listing.image3.url(:thumb)), @listing.image3.url, rel: 'group1', :data => { :colorbox_static => true, :colorbox_height => '600px', :colorbox_width => '600px' } %>
        <% end %>

        <% if !@listing.image4.url.include? "missing.jpg" %>
          <%= link_to image_tag(@listing.image4.url(:thumb)), @listing.image4.url, rel: 'group1', :data => { :colorbox_static => true, :colorbox_height => '600px', :colorbox_width => '600px' } %>
        <% end %>

    </div>
  </div>
  <div class="col-md-3"> 
  	<h3><%= @listing.name %></h3>
    <p><%= number_to_currency(@listing.price) %></p>
  	<p><%= @listing.description %></p>
    <br>
    <%= link_to "Buy this item", new_listing_order_path(@listing), class: "btn btn-primary", data: { no_turbolink: true } %>
  </div>
</div>


<% if (user_signed_in?) && (current_user == @listing.user) %>
    <%= link_to 'Edit', edit_listing_path(@listing), class:"btn btn-link" %> |
<% end %>

<p><%= link_to 'Back', listings_path, class:"btn btn-link" %></p>
