<% provide(:title, @listing.name) %>

<% if @listing.expired? %>
 <br><p><font color="red">Sorry, this listing has expired. </font></p>
 <% else %>



<div class="row">
  <div class="col-md-7"> 
  
      <div id="gallery-1" class="royalSlider rsDefault">
         
            <%= link_to image_tag(@listing.image.url, class: "rsTmb img-responsive"), @listing.image.url, class: "rsImg" %> 
                   
            <% if !@listing.image2.url.blank? %>
              <%= link_to image_tag(@listing.image2.url, class: "rsTmb img-responsive"), @listing.image2.url, class: "rsImg" %>
            <% end %>
               
            <% if !@listing.image3.url.blank? %>
              <%= link_to image_tag(@listing.image3.url, class: "rsTmb img-responsive"), @listing.image3.url, class: "rsImg" %>
            <% end %>
             
            <% if !@listing.image4.url.blank? %>
              <%= link_to image_tag(@listing.image4.url, class: "rsTmb img-responsive"), @listing.image4.url, class: "rsImg" %>
            <% end %>
       
      
    </div>
 
  </div>

  <div class="col-md-5"> 
    <h3><%= @listing.name.downcase.titleize %></h3>
    <div class="addthis_sharing_toolbox"></div><br>
    <p>
      <% if @listing.saleprice.blank? %>
          <font size="6px"><%= number_to_currency @listing.price %></font>
      <% else %>
          <font size="6px"><del><%= number_to_currency(@listing.price) %></del>  
          <%= number_to_currency(@listing.saleprice) %></font>
      <% end %>
    </p>

    <p><font size="2px"><% if !@listing.designer_or_brand.blank? %><b>Designer / Brand: </b><%= @listing.designer_or_brand %><br><% end %></font></p>


    <p><%= sanitize @listing.description, tags: %w(b p ul li), class: ".pre-scrollable" %></p>
    <br>

         <% if @listing.inventory == 1 %>
             <br><p><b><font color="red">Only 1 piece left. </font></b></p>
         <% end %>

        <% if @listing.inventory > 0 %>

        <% if @listing.user.name = "Outfit Additions" %>
           <div class="size12"> <p>Shipped by: <%= link_to @listing.user.name, vendor_path(@listing.user) %> . Ships in 1-2 business days. <strong>US Shipping is FREE.</strong> No hassle returns. <a href="#shipreturns" role="link" data-toggle="modal"> Learn more.</a></p></div>
        <% else %>
           <div class="size12"> <p>Shipped direct from seller: <%= link_to @listing.user.name, vendor_path(@listing.user) %> . Ships in 1-2 business days. <strong>US Shipping is FREE.</strong> No hassle returns. <a href="#shipreturns" role="link" data-toggle="modal"> Learn more.</a></p></div>
        <% end %>
                <%= render 'shipmodal' %>                

            <%= link_to new_listing_order_path(@listing), class: "btn btn-primary btn-xl", data: { no_turbolink: true } do %>BUY    <span class="glyphicon glyphicon-lock"></span>
          <% end %>

        <% else %>
          <br><p><b><font color="red">Sorry, we're sold out of this item. </font></b></p>
        <% end %>  

        <br><br>   

            <% if !@listing.user.profilestory.blank? %>
              <div class="pthumbnail">

                  <%= image_tag(@listing.user.profileimage.url(:p_thumb), class: "pthumb pull-left") %>
                  <div class="ptext line-clamp"><%= @listing.user.profilestory %></div>
                   <a href="#profilemodal" role="link" data-toggle="modal"> View Seller Profile</a>
                   <%= render 'profilemodal' %> 
              </div>
            <% end %> 

           
  </div> 
</div>
<% end %>
<br>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ashfaaq"></script> 

<%= render 'otherselleritems' %>
<%= render 'othercategoryitems' %>
<!-- <%= render 'designers' %> -->


    <script>
 
        jQuery(document).ready(function($) {
      $('#gallery-1').royalSlider({
        fullscreen: {
          enabled: true,
          nativeFS: true
        },
        controlNavigation: 'none',
        autoScaleSlider: true, 
        autoScaleSliderWidth: 960,     
        autoScaleSliderHeight: 850,
        imageScaleMode: 'fit-if-smaller',
        navigateByClick: true,
        numImagesToPreload:2,
        arrowsNav:true,
        arrowsNavAutoHide: true,
        /* arrowsNavHideOnTouch: true, */
        keyboardNavEnabled: true,
        fadeinLoadedSlide: true,
        globalCaption: false,
        globalCaptionInside: false,
        loop: true,
        thumbs: {
          appendSpan: true,
          firstMargin: true,
          paddingBottom: 4
        } 
      });
    });

    </script>