<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
       <p><%= link_to image_tag("logo2014.jpg"), "http://www.outfitadditions.com" %></p>
       <p>
         Dear <%= @buyer.name %>, <br><br>Thank you for your order at Outfit Additions. <br><br>
         <b>Item ordered:</b> <%= @order.listing.name %><br>
         <b>Total:</b> <%= number_to_currency(@order.listing.price) %>
       </p>

         <b>Billed to: </b><br>
           <%= @order.cardname %><br>
           <%= @order.address %><br>
           <%= if !@order.address2.blank? then @order.address2 end %><% if !@order.address2.blank? %><br><% end %>
           <%= "#{@order.state}, #{@order.zip}" %><br>
           <% if !@order.comments.blank? %>
          <b>Comments:</b> <%= @order.comments %><br>
          <% end %>
          <br>
          <b>Shipped to: </b><br>
           <%= @order.shipname %><br>
           <%= if !@order.shipcompany.blank? then @order.shipcompany end %><% if !@order.shipcompany.blank? %><br><% end %>
           <%= @order.shipaddress %><br>
           <%= if !@order.shipaddress2.blank? then @order.shipaddress2 end %><% if !@order.shipaddress2.blank? %><br><% end %>
           <%= "#{@order.shipstate}, #{@order.shipzip}" %><br>

       <p>Your order will ship in 1-2 business days. To check your order details, please login at <%= @url %>.</p>
       <p>--The Outfit Additions team</p>
    
  </body>
</html>