<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for your order, <%= @customer %>. </h1>
   <!-- <p> Item ordered: <%= @item %><br>
         Total: <%= @itemprice %><br>
         Billed to <%= @billaddress %><br>
         Shipped to  <%= @shipaddress %>
    </p> -->
    <p>
      To login to the site or reset your password, please follow this link: <%= @url %>.
    </p>
    <p>Thanks again and have a great day!</p>
  </body>
</html>