<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
       <p><a href="http://www.outfitadditions.com"><img src="http://cdn1.bigcommerce.com/server1200/f8ce1/product_images/newlogo_1396287371__85816.gif"></a></p>
       <p>
         Dear <%= @order.seller.name %>, <br><br>You have a new order at Outfit Additions. <br><br>
         <b>Product ID:</b> <%= @order.listing.sku %><br>
         <b>Product name:</b> <%= @order.listing.name %><br>
         <b>Sold for:</b> <%= number_to_currency(@order.listing.price) %>
       </p>

          <b>Ship the item to: </b><br>
           <%= @order.shipname %><br>
           <%= if !@order.shipcompany.blank? then @order.shipcompany end %><% if !@order.shipcompany.blank? %><br><% end %>
           <%= @order.shipaddress %><br>
           <%= if !@order.shipaddress2.blank? then @order.shipaddress2 end %><% if !@order.shipaddress2.blank? %><br><% end %>
           <%= "#{@order.shipstate}, #{@order.shipzip}" %><br>
           Customer email: <%= @buyer.email %><br>
           <% if !@order.comments.blank? %>
              <b>Customer comments:</b> <%= @order.comments %><br>
          <% end %>

       <p><b>Please ship this order within 1-2 business days. After the item is shipped, please email the customer at the above email address with the tracking number.</b></p>

       <p>To check sales details and manage your account, please login at <%= @url %>.</p>

       <p>--The Outfit Additions team</p>
    
  </body>
</html>