Dear <%= @order.seller.name %>, You have a new order at Outfit Additions. 
Item ordered: <%= @order.listing.name %>
Sold for:  <%= number_to_currency(@order.price_sold)  %>
Seller Price (after fees): <%= number_to_currency((@order.price_sold * 0.971 - 0.3) * 0.80)  %>


Ship the item to: 
<%= @order.shipname %>
<%= if !@order.shipcompany.blank? then @order.shipcompany end %>
<%= @order.shipaddress %><br>
<%= if !@order.shipaddress2.blank? then @order.shipaddress2 end %>
<%= @order.shipcity %><br>
<%= "#{@order.shipstate}, #{@order.shipzip}" %>
Customer email: <%= @buyer.email %>
<% if !@order.comments.blank? %>
Customer comments: <%= @order.comments %>
<% end %>

Please ship this order within 1-2 business days. Print the customer invoice on your <%= link_to "Manage Sales", sales_path %> page. After shipment, please enter your carrier and tracking information against the order row on the same page. Then click on the confirm shipment button to confirm your shipment. When you click on confirm shipment button, tracking information and a shipping conformation email will automatically be sent to the customer.

To check sales details and manage your account, please login at <%= @url %>.</p>

--The Outfit Additions team
    
