Dear <%= @order.seller.name %>, You have a new order at Outfit Additions. 
Product ID: <%= @order.listingsku %><br>
Item ordered: <%= @order.listingname %>
Sold for:  <%= number_to_currency(@order.price_sold)  %>
Seller Price (after fees): <%= number_to_currency(@order.seller_payment)  %>


Ship the item to: 
<%= @order.shipname %>
<%= if !@order.shipcompany.blank? then @order.shipcompany end %>
<%= @order.shipaddress %><br>
<%= if !@order.shipaddress2.blank? then @order.shipaddress2 end %>
<%= @order.shipcity %><br>
<%= "#{@order.shipstate}, #{@order.shipzip}" %>
Customer email: <%= @buyer.email %>
<% if !@order.comments.blank? %>
Customer comments: <%= @order.comments %>
<% end %>

If the item is in stock, please ship this order within 1-2 business days. If you marked the item as 'made to order', please ship within the timeframe you mentioned in the listing. Print the customer invoice on your <%= link_to "Manage Sales", sales_path %> page. After shipment, please enter your carrier and tracking information against the order row on the same page. Then click on the confirm shipment button to confirm your shipment. When you click on confirm shipment button, tracking information and a shipping conformation email will automatically be sent to the customer.

To check sales details and manage your account, please login at <%= @url %>.</p>

--The Outfit Additions team
    
