<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
       <p><a href="http://www.outfitadditions.com"><img src"https://s3.amazonaws.com/oamktplace/2014logo.jpg"></a></p>

        <p>
         Dear <%= @order.buyer.name %>, <br><br>Your order of <b><%= @order.listing.name %> </b> has been shipped by the seller <i><%= @order.seller.name %></i>. You should recieve your item in the next 5-7 business days. <br>
        </p>
       <% if !@order.tracking.include?("None yet") && !@order.carrier.include?("None yet") %>
         <b>Carrier:</b> <%= @order.carrier %>
         <b>Tracking:</b> <%= @order.tracking %><br> 
       <% end %>
      <br>
      If you have any questions, please email us at service@outfitadditions.com.
      <br>


   </body>
</html>