<%= form_for(@user, url: sellerprofile_path(@user), method: :put, html: { :class => 'edit_profile', :multipart => true }) do |f| %>

  <div class="form-group">
    <%= f.label :your_story %><i> (required)</i>
    <%= f.text_area :profilestory, class:"form-control" %>
  </div>
         <% if !@user.profilestory.blank? %>
          Current text: <%= @user.profilestory %>
      <% end %>

  <div class="form-group">
    <%= f.label :profile_image %><i> (required)</i>
    <%= f.file_field :profileimage, class:"form-control" %>
  </div>
       <% if !@user.profileimage.url.blank? %>
          Current image: <%= image_tag(@user.profileimage.url(:thumb)) %>
      <% end %>

   <div class="form-group">
        <%= f.submit class:"btn btn-primary" %>
   </div>

 <% end %>