<h3> Seller Profile (optional) </h3>

  <% if @user.errors.any? %>
    <div id="error_explanation" class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4><%= pluralize(@user.errors.count, "error") %> prohibited this update from being saved:</h4>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="well"><p><font color="green"><b>Tell customers your story: </b></font> If you're a designer, tell customers your approach to design and your background. If you're a boutique, talk about your collection and the types of designers you work with.</p>
<p><font color="green"><span class="glyphicon glyphicon-ok"></span></font> Your profile info will be displayed on all your product pages. </p></div>

<%= form_for @user, url: sellerprofile_path(id: current_user.id), method: :put, html: { :class => 'edit_profile', :multipart => true } do |f| %>

  <div class="form-group">
    <%= f.label :tweet, "Describe your collection in a tweet." %><i> (140 characters or less)</i>
    <%= f.text_field :tweet, class:"form-control", :rows => 5 %>
  </div>
      <% if !@user.tweet.blank? %>
          <i>Current:</i> <%= @user.tweet %>
      <% end %>
   <% if !@user.tweet.blank? %><br><br><% end %>
  <div class="form-group">
    <%= f.label :profilestory, "Your story: Give customers some background on your brand and style." %><i> (between 250-1500 characters)</i>
    <%= f.text_area :profilestory, class:"form-control", :rows => 5 %>
  </div>
         <% if !@user.profilestory.blank? %>
          <i>Current profile:</i> <%= @user.profilestory %>
      <% end %>
   <% if !@user.profilestory.blank? %><br><br><% end %>

  <div class="form-group">
    <%= f.label :profile_image %><i> (profile pic of the designer or a logo.)</i>
    <%= f.file_field :profileimage, class:"form-control" %>
  </div>
       <% if !@user.profileimage.url.blank? %>
          <i>Current image:</i> <%= image_tag(@user.profileimage.url(:p_thumb)) %>
      <% end %>
    <% if !@user.profileimage.url.blank? %><br><br><% end %>



   <div class="form-group">
        <%= f.submit "Update", class:"btn btn-primary" %>
   </div>

 <% end %>