<div class="row">
  <div class="col-md-4">
    <h3><%= @listing.name %></h3>
    <h4>
      <% if @listing.saleprice.blank? %>
         <%= number_to_currency(@listing.price) %>
      <% else %>
        <del><%= number_to_currency(@listing.price) %></del>  
          <%= number_to_currency(@listing.saleprice) %>
      <% end %>
    </h4>
    <div class="thumbnail orderthumb">
      <%= image_tag @listing.image.url %>
    </div>
  </div>
  <div class="col-md-8">

<%= form_for([@listing, @order]) do |f| %>

  <h3>Place Order</h3>

  <p><b><font color="green">Order Total: 
           <% if @listing.saleprice.blank? %>
            <%= number_to_currency(@listing.price) %>
           <% else %>
             <%= number_to_currency(@listing.saleprice) %>
           <% end %>
         </font></b></p>

  <!-- <p><font color="red" size="3px">Shipping Delay: We are on vacation. Your order will ship on 1/20. </font></p> -->

  <h4><b>Shipping Details</b></h4>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :shipname, class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :company %> (optional)
    <%= f.text_field :shipcompany, class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :shipaddress, "Shipping Address" %> (line 1)
    <%= f.text_field :shipaddress, class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :shipaddress2, "Shipping Address" %> (line 2)
    <%= f.text_field :shipaddress2, class:"form-control" %>
  </div>
<div class="row">
  <div class = "col-md-4">
      <div class="form-group">
        <%= f.label :shipcity, "Shipping City" %>
        <%= f.text_field :shipcity, class:"form-control" %>
      </div>
  </div>
  <div class = "col-md-4">
    <div class="form-group">
        <%= f.label :shipstate, "Shipping State" %>
        <%= f.select(:shipstate, options_for_select(us_states, f.object.shipstate), {prompt: "Select"}, {class: "form-control"}) %>
    </div>  
  </div>
  <div class = "col-md-4">
      <div class="form-group">
        <%= f.label :shipzip, "Shipping Zip (5-digit)" %>
        <%= f.text_field :shipzip, class:"form-control" %>
      </div>
  </div>
</div>
  <h4><b>Billing Details</b></h4>
  <div class="form-group">
    <%= f.label :cardname, "Full Name (as printed on credit card)" %>
    <%= f.text_field :cardname, class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :address, "Billing Address" %> (line 1)
    <%= f.text_field :address, class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :address2, "Billing Address" %> (line 2)
    <%= f.text_field :address2, class:"form-control" %>
  </div>

<div class="row">
  <div class = "col-md-4">
      <div class="form-group">
        <%= f.label :city, "Billing City" %>
        <%= f.text_field :city, class:"form-control" %>
      </div>
  </div>
  <div class = "col-md-4">
      <div class="form-group">
        <%= f.label :state, "Billing State" %>
        <%= f.select(:state, options_for_select(us_states, f.object.state), {prompt: "Select"}, {class: "form-control"}) %>
      </div>
  </div>
  <div class = "col-md-4">
      <div class="form-group">
        <%= f.label :zip, "Billing Zip (5-digit)" %>
        <%= f.text_field :zip, class: "form-control" %>
      </div>
  </div>
</div>

      <div class="form-group">
        <%= f.label :Order_Comments %> (if any)
        <%= f.text_area :comments, class:"form-control" %>
      </div>

  <div class="form-group">
        <div class="row">
          <div class="col-md-8">
            <%= label_tag :card_number, "Credit Card Number" %>
            <%= text_field_tag :card_number, nil, { :name => nil, :'data-stripe' => "number", class: "form-control" } %>
          </div>
          <div class="col-md-4">
            <%= label_tag :card_code, "CVC" %>
            <%= text_field_tag :card_code, nil, { :name => nil, :'data-stripe' => "cvc", class: "form-control" } %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag nil, "Expiration Date" %>
        <div class="row">
          <div class="col-md-3">
            <%= select_month nil, { use_two_digit_numbers: true }, { :name => nil, :'data-stripe' => "exp-month", class: "form-control" } %>
          </div>
          <div class="col-md-3">
            <%= select_year nil, { start_year: Date.today.year, end_year: Date.today.year+10 }, { :name => nil, :'data-stripe' => "exp-year", class: "form-control" } %>
          </div>
        </div>
        <br>
        <p>
            <%= f.check_box :emailsub, :collection => ["true", "false"], :checked => true %> Sign up for email - deals, new arrivals, contests & more.
        </p>

        <p><b><font color="green">You will be charged: 
           <% if @listing.saleprice.blank? %>
            <%= number_to_currency(@listing.price) %>
           <% else %>
             <%= number_to_currency(@listing.saleprice) %>
           <% end %>
        </font></b></p>

      </div>

  <% if @order.errors.any? %>
    <div id="error_explanation" class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h4>
      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="stripe_error" class="alert alert-danger" style="display:none">
        <noscript>JavaScript is not enabled and is required for this form. Please enable it in your web browser settings.</noscript>
  </div>

  <div class="actions">
    <%= f.submit "Pay for Order", class:"btn btn-success" %>
  </div>

<% end %>

<br>
<%= link_to 'Back to listing', listing_path(@listing) %>
<p>
</div>
