
  <h3>Purchase History for <%= current_user.name %></h3>


<table class="table table-condensed">
  <tr>
    <th class="col-md-2">Image</th>
    <th class="col-md-2">Item</th>
    <th class="col-md-1">Price</th>
    <th class="col-md-2">Seller</th>
    <th class="col-md-2">Date Purchased</th>
    <th class="col-md-1"><font color="green">Carrier</font></th>
    <th class="col-md-2"><font color="green">Shipment Tracking #</font</th>
  </tr>

  <% @orders.each do |order| %>
    <tr>
      <td><%= link_to image_tag(order.listing.image.url(:thumb)), order.listing, data: { no_turbolink: true } %></td>
      <td><%= link_to order.listing.name.downcase.titleize, order.listing, data: { no_turbolink: true } %></td>
      <td><%= number_to_currency(order.listing.price) %></td>
      <td><%= order.seller.name %></td>
      <td><%= order.created_at.strftime("%B %-d, %Y") %></td>
      <td><font color="green"><%= order.carrier %></font</td>
      <td><font color="green"><%= order.tracking %></font</td>
    </tr>
  <% end %>
</table>
<div class="center"><p><%= will_paginate @listings, renderer: BootstrapPagination::Rails %></p></div>

  <% if @orders.count == 0 %>
    <h5><font color="red">You do not have any past orders with us.</font></h5>
  <% end %>