 <h3>Sales History for <%= current_user.name %></h3>


<% if user_signed_in? %>
  <p><b>Download orders:</b> <%= link_to "CSV", sales_path(format: "csv") %></p>
<% end %>
<table class="table table-condensed">
  <tr>
    <th class="col-md-1">Order ID</th>
    <th class="col-md-1">Date Sold</th>
    <th class="col-md-1">Image</th>
    <th class="col-md-1">Item</th>
    <th class="col-md-1">Price</th>
    <th class="col-md-2">Shipping Details</th>
    <th class="col-md-1">Invoice</th>
    <th class="col-md-1">Carrier (UPS, USPS, etc.)</th>
    <th class="col-md-3">Shipment Tracking #</th>
  </tr>

  <% @orders.each do |order| %>
    <tr>
      <td><%= order.id %></td>
      <td><%= order.created_at.strftime("%B %-d, %Y") %></td>
      <td><%= link_to image_tag(order.listing.image.url(:thumb)), order.listing, data: { no_turbolink: true } %></td>
      <td><%= link_to order.listing.name.downcase.titleize, order.listing, data: { no_turbolink: true } %></td>
      <td><%= number_to_currency(order.listing.price) %></td>
      <td><%= order.shipname %><br><%= order.shipaddress %><br><%= "#{order.shipcity}, #{order.shipstate} #{order.shipzip}" %></td>
      <td><%= link_to "Get Invoice", listing_order_path(id: order.id, listing_id: order.listing_id), class: "btn btn-sm btn-success" %></td>
      <td><%= best_in_place order, :carrier, :type => :input, :url => listing_order_path(id: order.id, listing_id: order.listing_id) %> </td>
      <td><%= best_in_place order, :tracking, :type => :input, :url => listing_order_path(id: order.id, listing_id: order.listing_id) %> </td>
    </tr>
  <% end %>
</table>

<div class="center"><p><%= will_paginate @listings, renderer: BootstrapPagination::Rails %></p><div>