 <h3>Sales History for <%= current_user.name %></h3>


<% if user_signed_in? %>
  <p><%= link_to "Download orders (CSV)", sales_path(format: "csv"), class: "btn btn-xs btn-primary" %></p>
<% end %>
<table class="table table-condensed table-responsive">
  <tr>
    <th class="col-md-1">Order ID</th>
    <th class="col-md-1">Date Sold</th>
    <th class="col-md-1">Image</th>
    <th class="col-md-1">Item</th>
    <th class="col-md-1">Selling Price</th>
    <th class="col-md-1">Seller Payment (after fees)</th>
    <th class="col-md-2">Shipping Details</th>
    <!-- <th class="col-md-1">Invoice</th> -->
    <th class="col-md-1">Carrier (click below to enter)</th>
    <th class="col-md-2">Tracking # (click below to enter)</th>
    <th class="col-md-1">Ship Order</th>
  </tr>

  <% @orders.each do |order| %>
    <tr>
      <td><%= order.id %></td>
      <td><%= order.created_at.strftime("%B %-d, %Y") %></td>
      <td><%= link_to image_tag(order.listing.image.url(:thumb)), order.listing, data: { no_turbolink: true } %></td>
      <td><%= link_to order.listing.name.downcase.titleize, order.listing, data: { no_turbolink: true } %></td>
      <td> <% if order.listing.saleprice.blank? %>
             <%= number_to_currency(order.listing.price) %>
           <% else %>
             <del><%= number_to_currency(order.listing.price) %></del>  
             <%= number_to_currency(order.listing.saleprice) %>
           <% end %>
     </td>
     <td><% if order.listing.saleprice.blank? %>
             <%= number_to_currency((order.listing.price * 0.971 - 0.3) * 0.80)  %>
           <% else %> 
             <%= number_to_currency((order.listing.saleprice * 0.971 - 0.3) * 0.80)  %>
           <% end %>
      </td>
      <td><%= order.shipname %><br>
          <%= if !order.shipcompany.blank? then order.shipcompany end %><% if !order.shipcompany.blank? %><br><% end %>
          <%= order.shipaddress %><br>
          <%= if !order.shipaddress2.blank? then order.shipaddress2 end %><% if !order.shipaddress2.blank? %><br><% end %>
          <%= "#{order.shipcity}, #{order.shipstate} #{order.shipzip}" %>
      </td>
      <td><%= best_in_place order, :carrier, :type => :input, :url => listing_order_path(id: order.id, listing_id: order.listing_id), class: "tracking" %> </td>
      <td><%= best_in_place order, :tracking, :type => :input, :url => listing_order_path(id: order.id, listing_id: order.listing_id), class: "tracking" %> </td>
      <td><p><%= link_to "Get Invoice", listing_order_path(id: order.id, listing_id: order.listing_id), class: "btn btn-xs btn-success shipconf" %></p><%= link_to order.mail_status ? "Shipment Confirmed":"Confirm Shipment", shipconf_path(id: order.id), class: "btn btn-xs btn-success shipconf", disabled:order.mail_status %></td>
    </tr>
  <% end %>
</table>

<div class="center"><p><%= will_paginate @listings, renderer: BootstrapPagination::Rails %></p></div>

  <% if @orders.count == 0 %>
    <h5><font color="red">You do not have any past sales.</font></h5>
  <% end %>