<% provide(:title, 'Order Confirmation') %>
<h3>Thank you for your order.</h3>
An email confirmation has been sent to you with your order details. <br>
You will recieve an email in 1-2 business days when your item ships. You may visit your <a href="http://www.outfitadditions.com/purchases">purchases</a> page at any time to view your order details.<br><br>
<b>Order Confirmation:</b><br>
 <div class = "row">
	<div class = "col-md-4">
		<%= "Order ID: #{@order.id}" %><br>
		<%= "Item: #{@order.listing.name.downcase.titleize}" %><br>
		<%= "Price: #{number_to_currency @order.price_sold}" %><br>
		<%= image_tag(@order.listing.image.url(:medium))  %><br><br>
	</div>
 </div>
 <br>

<!-- Avantlink tracking -->
<script type="text/javascript">
var _AvantMetrics = _AvantMetrics || [];
_AvantMetrics.push(['order',{ order_id:<%= @order.id %>, amount:<%= @order.price_sold %> }]);
</script>
<!-- End Avantlink tracking -->

<!-- Optimizely tracking -->
<script>
    window.optimizely = window.optimizely || [];
    window.optimizely.push(['trackEvent', 'order_confirmation', {'revenue': <%= @order.price_sold * 100 %>}]);
    window.optimizely.push(['trackEvent', 'orderNumber', {'orderNumber': <%= @order.id %>}]);
</script>
<!-- End Optimizely tracking -->

<!-- End Mixpanel tracking -->
<script>mixpanel.track("Order confirmation")</script>
<!-- End Mixpanel tracking -->

<!-- Facebook Conversion Code for Checkouts - OA -->
<script>(function() {
  var _fbq = window._fbq || (window._fbq = []);
  if (!_fbq.loaded) {
    var fbds = document.createElement('script');
    fbds.async = true;
    fbds.src = '//connect.facebook.net/en_US/fbds.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(fbds, s);
    _fbq.loaded = true;
  }
})();
window._fbq = window._fbq || [];
window._fbq.push(['track', '6026896913946', {'value':<%= @order.price_sold %>,'currency':'USD'}]);
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6026896913946&amp;cd[value]=0.00&amp;cd[currency]=USD&amp;noscript=1" /></noscript>

<!-- End Facebook tracking -->