<footer>
	<div class="container">
		<div class="row">
			
			<div class="col-sm-5">
				<h6>About Us</h6>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div><!-- end col-sm-4 -->
			
			<div class="col-sm-2">
				<h6>Learn More</h6>
				<ul class="unstyled">
				  <li><%= link_to "About", pages_about_path  %></li>
				  <li><%= link_to "Blogger Partnerships", pages_blogger_partnerships_path %></li>
				  <li><%= link_to "Terms & Conditions", pages_terms_conditions_path %></li>
				  <li><%= link_to "Privacy Policy", pages_privacy_policy_path %></li>
				</ul>
			</div><!-- end col-sm-2 -->
			
			<div class="col-sm-2">
				<h6>Connect</h6>
				<ul class="unstyled">
					<li><%= link_to "Contact Us", pages_contact_path %></li>
					<li><a href="http://blog.outfitadditions.com">Blog</a></li>
					<li><a href="https://www.facebook.com/pages/Outfit-Additions/129192821680">Facebook</a></li>
					<li><a href="http://www.pinterest.com/outfitadditions/">Pinterest</a></li>
				</ul>
			</div><!-- end col-sm-2 -->
			
			<div class="col-sm-3">
				<h6>Coded with <span class="glyphicon glyphicon-heart"></span> in San Francisco.</h6>
				<h6>Copyright &copy; 2014 Outfit Additions</h6>
			</div><!-- end col-sm-2 -->
		</div><!-- end row -->
	</div><!-- end container -->
</footer>    
