<footer>
	<div class="container">
       
		<div class="row">
			<div class="col-sm-5">
				<h6><b>About Us</b></h6>
				<p>Outfit Additions is a curated jewelry marketplace. We work hard to find exceptionally talented jewelry designers and boutique jewelry brands and make their lines available to buy. As part of our vetting process, we approve sellers based on the originality of their design, materials used and their attention to detail. We operate as a marketplace so sellers ship your order direct to you. <br><br>All US orders ship FREE + We require all sellers to offer a 14 day return policy.</p>

			</div><!-- end col -->
			
			<div class="col-sm-2">
				<h6>Learn More</h6>
				<ul class="unstyled">
				  <li><%= link_to "About", pages_about_path  %></li>
				  <li><%= link_to "Blogger Partnerships", pages_blogger_partnerships_path %></li>
				  <li><%= link_to "Terms & Conditions", pages_terms_conditions_path %></li>
				  <li><%= link_to "Privacy Policy", pages_privacy_policy_path %></li><br>
				  <li><%= link_to pages_sell_path, class: "btn btn-success btn-xs" do %>Sell With Us    <span class="glyphicon glyphicon-play"></span>
                    <% end %>
                  </li>
				</ul>
			</div><!-- end col -->
			
			<div class="col-sm-1">
				<h6>Connect</h6>
				<ul class="unstyled">
					<li><%= link_to "Contact Us", pages_contact_path %></li>
					<li><a href="http://blog.outfitadditions.com">Blog</a></li>
					<li><a href="https://www.facebook.com/pages/Outfit-Additions/129192821680">Facebook</a></li>
					<li><a href="http://www.pinterest.com/outfitadditions/">Pinterest</a></li>
				</ul>
			</div><!-- end col -->
			
			<div class="col-sm-4">
			  <ul class="unstyled">
			  	<li> <%= render 'mailchimp' %> </li>
			  	<li> put ssl logo here </li>
			  </ul>
			</div><!-- end col -->
		</div><!-- end row -->
	</div><!-- end container -->
			<div class="center">Designed & Coded with <span class="glyphicon glyphicon-heart"></span> in San Francisco. | Copyright &copy; 2014 Outfit Additions</div>
</footer>  

