    
<%= link_to "About", pages_about_path, class:"btn btn-link"  %>
<%= link_to "Contact Us", pages_contact_path, class:"btn btn-link"  %>
<%= link_to "Blogger Partnerships", pages_blogger_partnerships_path, class:"btn btn-link"  %>
<%= link_to "Terms & Conditions", pages_terms_conditions_path, class:"btn btn-link"  %>
<%= link_to "Privacy Policy", pages_privacy_policy_path, class:"btn btn-link"  %>
<br>

<p>Copyright 2014. All rights reserved.</p>

