<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">OUTFIT ADDITIONS</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

    <!-- ACCOUNT LINKS -->
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li class="dropdown">
           <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span>     <%= current_user.name.titleize %> <span class="glyphicon glyphicon-chevron-down"></span></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
                  <% if current_user.name == "admin admin" %>
                      <li><%= link_to "Admin", admin_path, data: { no_turbolink: true }  %></li>
                  <% end %>
                    <li><%= link_to "Edit Profile", edit_user_registration_path  %></li>
                    <li><%= link_to "Past Orders", purchases_path  %></li>
                  <% if Rails.env.development? or ["admin admin", "Outfit Additions", "Test8880"].include? current_user.name %>
                    <li role="presentation" class="divider"></li>
                    <li role="presentation" class="dropdown-header"><b>Seller links</b></li>
                    <li><%= link_to "List Items to Sell", new_listing_path, data: { no_turbolink: true }  %></li>
                    <li><%= link_to "Manage Listings", seller_path  %></li>
                    <li><%= link_to "Payment Settings", edit_user_path(current_user), data: { no_turbolink: true }  %></li>
                    <li><%= link_to "Manage Sales", sales_path  %></li>
                    <li><%= link_to "Seller Profile", sellerp_path(current_user) %></li>
                    <li><%= link_to "Seller FAQ's", pages_sellerfaqs_path %></li>
                    <li><%= link_to "Feedback/Contact", pages_feedback_path %></li>
                  <% end %>
            </ul>            
          </li>
          <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete  %></li>
          <% else %>
            <li><%= link_to "Sign Up", new_user_registration_path  %></li>
            <li><%= link_to "Login", new_user_session_path  %></li>
        <% end %>
      </ul>
  <!-- END ACCOUNT LINKS -->

          <!-- SEARCH BOX -->
           <%= form_tag(search_listings_path, :method => "get", id: "search-form", class:"navbar-form navbar-right") do %>
            <div class="input-group"><%= text_field_tag :search, params[:search], placeholder: "Search by color or style...", :size => "20", class:"form-control search-form" %>
            <span class="input-group-btn"><button type="submit" class="btn btn-default btn-md"><span class="glyphicon glyphicon-search"></span></button></span></div>
              <% end %> 

        <!-- END SEARCH BOX --> 

     <!-- CATEGORY DROP DOWN -->
       <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Category <span class="glyphicon glyphicon-chevron-down"></span></a>
           <ul class="dropdown-menu">
             <li><%- Listing.uniq.pluck(:category).each do |category| %>
               <%= link_to category, category_path(category: category) %> 
              <% end %>
             </li>
           </ul>
         </li>
        </ul>
   <!-- END CATEGORY DROP DOWN -->
    
   <!-- SALE LINK -->
       <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Sale", sale_path, class: "salelink" %> </li>
       </ul>
       <!-- END SALE LINK -->


    </div><!-- /.navbar-collapse --> 
  </div><!-- /.container-fluid -->
</nav><!-- navbar end -->

<!-- error meessages -->
  <div class="container">
     <% unless current_page?(thankyou_path) %>
      <% flash.each do |name, msg| %>
        <% if msg.is_a?(String) %>
          <div class="alert alert-<%= name == :notice ? "success" : "danger" %> alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <!-- error meessages end-->

<% if params[:page].nil? and params[:sort].nil? and current_page?(root_path) %>

<div class="jumbotron hpwell">
  <div class="container">
        <%= image_tag("mobile-logo.gif") %><br>Shop accessories from talented artisans and boutique brands.
        <br><span class="glyphicon glyphicon-chevron-down"></span>
  </div>
</div>

<% end %>

 